html {
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
}
table {
    width: 100%;
}
th, td {
    text-align: left;
}
th {
    padding: .75rem .5rem .25rem;
    border-bottom: 1px solid #ccc;
}
td {
    padding: .5rem;
}
td.literal,
td.formula {
    width: 90%;
    font-size: 1rem;
}
.state {
    width: 1%;
    white-space: nowrap;
    font-family: monospace;
}
.actions {
    text-align: right;
}

.missing {
    font-style: italic;
}

.add-new {
    display: flex;
    gap: .5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
    flex-wrap: wrap;
}
.add-new .error {
    flex: 1 0 100%;
    padding: .5rem 0;
    color: red;
}
.add-new input {
    padding: .5rem;
    font-size: 1rem;
}
.pending-formula {
    flex: 1;
}

.formula {
    font-family: monospace;
}

.literal {
    color: purple;
}
.operator.binary {
    font-weight: bold;
}
.delimiter {
    color: #666;
}


.parens {
    display: inline-block;
    padding: 0 0 0 1rem;
}
.parens:before {
    content: "";
    display: inline-block;
    margin-left: -1rem;
}
.subscript {
    vertical-align: sub;
    font-size: 75%;
}

.state input[type=checkbox] {
    display: none;
}
.state input[type=checkbox]+label {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    border-radius: 100%;
    border: 2px solid #000;
    margin-right: 0.2em;
    cursor: pointer;
}

.state input[type=checkbox]:checked+label {
    background: #000;
}
