html {
    font-family: sans-serif;
    box-sizing: border-box;
}
table {
    width: 100%;
}
th {
    text-align: left;
}
td {
    padding: .5rem;
}

.missing {
    font-style: italic;
}

.add-new {
    display: flex;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
    flex-wrap: wrap;
}
.add-new .error {
    flex: 1 0 100%;
    padding: .5rem 0;
    color: red;
}
.pending-formula {
    flex: 1;
}

.formula {
    font-family: monospace;
}

.literal {
    color: purple;
}
.operator.binary {
    font-weight: bold;
}
.delimiter {
    color: #666;
}


.parens {
    display: inline-block;
    padding: 0 0 0 1rem;
}
.parens:before {
    content: "";
    display: inline-block;
    margin-left: -1rem;
}
.subscript {
    vertical-align: sub;
    font-size: 75%;
}
